In [17]:
import sdv
from sdv.tabular import TVAE
from sdv.demo import load_tabular_demo

In [16]:
data = load_tabular_demo('SAP_v1')
data.head()

,ID,SEX,MARITAL_STATUS,GEOID,EDUCATIONNUM,OCCUPATION,DATA1,DATA2,DATA3,NOM1,NOM2,NOM3,age,add_numerical,sum(KxIndex),sum(AMOUNT),max(AMOUNT),min(AMOUNT),nb_rows_in_Mailings1_2,nb_rows_in_Sales
0,0,Male,Never-married,61,7,Machine-op-inspct,9.276,3.592,8.253,l,p,o,62,80.845,1.0,181.104,17.907,13.090,1.0,12
1,1,Male,Married-civ-spouse,70,3,Handlers-cleaners,5.836,4.574,5.507,u,r,x,78,92.081,2.0,132.500,19.866,13.712,1.0,8
2,2,Male,Never-married,53,7,Machine-op-inspct,8.998,4.184,8.593,n,q,o,69,90.777,3.0,163.381,18.987,13.250,1.0,10
3,3,Female,Divorced,79,4,Exec-managerial,5.201,5.101,5.461,z,r,y,53,70.562,4.0,141.943,19.182,11.990,1.0,9
4,4,Male,Married-civ-spouse,46,4,Handlers-cleaners,5.683,6.391,6.757,x,m,n,85,106.148,5.0,221.861,19.898,10.451,1.0,15

In [6]:
sdv.demo.get_available_demos()

                     name  tables     rows  columns
0                UTube_v1       2     2735       10
1                  SAP_v1       4  3841029       71
2                 NCAA_v1       9   202305      333
3       airbnb-simplified       2  5751408       22
4      Atherosclerosis_v1       4    12781      307
5                rossmann       3  2035533       21
6                 walmart       4   544869       24
7   AustralianFootball_v1       4   139179      193
8           Pyrimidine_v1       2      296       38
9                world_v1       3     5302       39
10           Accidents_v1       3  1463093       87
11              trains_v1       2       83       15
12           legalActs_v1       5  1754397       50
13                 DCG_v1       2     8258        9
14            imdb_ijs_v1       7  5647694       50
15             SalesDB_v1       4  6735507       35
16           MuskSmall_v1       2      568      173
17                 KRK_v1       1     1000        9
18               Chess_v1       2     2052       57
19             Telstra_v1       5   148021       23
20         mutagenesis_v1       3    10324       26
21       PremierLeague_v1       4    11308      250
22                 census       1    32561       15
23                FNHK_v1       3  2113275       43
24      imdb_MovieLens_v1       7  1249411       58
25           financial_v1       8  1079680       84
26                 ftp_v1       2    96491       13
27            Triazine_v1       2     1302       35

In [18]:
model = TVAE()
model.fit(data)

/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sklearn/mixture/_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

KeyboardInterrupt:

In [20]:
model.sample(20)

/u/abhi24/matlaberp2/posthoc_privacy/.projenv/lib/python3.8/site-packages/sdv/tabular/base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)

,ID,SEX,MARITAL_STATUS,GEOID,EDUCATIONNUM,OCCUPATION,DATA1,DATA2,DATA3,NOM1,NOM2,NOM3,age,add_numerical,sum(KxIndex),sum(AMOUNT),max(AMOUNT),min(AMOUNT),nb_rows_in_Mailings1_2,nb_rows_in_Sales
0,133642,Male,Married-civ-spouse,52,6,Machine-op-inspct,8.940462,3.765046,8.200444,m,q,p,85,45857.232803,2.0,143.243455,19.013411,10.223687,0.0,10
1,132306,Male,Married-civ-spouse,66,5,Handlers-cleaners,5.307044,5.212982,5.828928,cb,p,x,85,50882.034115,50374.0,170.107078,19.050728,10.400973,1.0,10
2,117307,Male,Married-civ-spouse,57,5,Handlers-cleaners,4.977830,7.723595,6.291682,u,n,k,85,77282.715907,0.0,173.475436,19.310332,10.386555,0.0,10
3,137529,Male,Married-civ-spouse,53,6,Handlers-cleaners,4.747068,7.362521,6.710915,u,n,l,85,130558.570983,0.0,172.855434,19.444507,10.235223,0.0,11
4,119946,Male,Married-civ-spouse,66,3,Handlers-cleaners,5.682359,5.010248,5.331277,bb,p,x,85,37031.557878,36141.0,104.762718,19.466933,10.523995,1.0,9
5,354455,Male,Married-civ-spouse,35,9,Handlers-cleaners,4.190418,2.107480,6.602274,j,o,y,85,245809.445579,0.0,119.050329,19.643890,10.443683,0.0,7
6,123719,Male,Married-civ-spouse,63,11,Machine-op-inspct,3.594202,3.921976,7.115752,j,p,x,85,68164.912261,14.0,137.367022,19.355796,10.212248,0.0,9
7,302582,Male,Married-civ-spouse,65,3,Handlers-cleaners,5.792313,5.002031,5.673273,bb,p,w,85,315640.522342,0.0,108.430421,19.321443,10.347339,0.0,7
8,132590,Male,Married-civ-spouse,50,7,Machine-op-inspct,8.727591,3.804520,8.105366,m,q,q,85,49526.230506,50105.0,98.136029,19.236523,11.340540,1.0,9
9,352747,Male,Married-civ-spouse,42,5,Handlers-cleaners,4.931186,7.504435,6.370505,u,n,l,85,261668.964677,0.0,113.926026,19.296780,10.090998,0.0,8
10,149468,Male,Married-civ-spouse,48,6,Machine-op-inspct,8.810085,4.205845,8.266963,m,q,o,85,141719.301226,0.0,159.664137,18.974952,11.185063,0.0,11
11,113716,Male,Married-civ-spouse,56,7,Machine-op-inspct,9.111423,3.762803,8.128145,m,q,o,85,22183.883673,2.0,93.936608,18.962922,10.473790,0.0,9
12,14429,Male,Married-civ-spouse,54,7,Machine-op-inspct,8.925005,3.732462,8.402341,m,q,p,85,56194.965062,19292.0,95.928278,19.069893,11.208316,1.0,9
13,354178,Male,Married-civ-spouse,55,1,Handlers-cleaners,5.351454,5.501050,5.925617,z,p,x,85,322895.369508,2.0,189.296925,19.847743,10.548027,0.0,12
14,126829,Male,Married-civ-spouse,47,7,Machine-op-inspct,9.006683,3.440720,8.203114,m,q,p,85,44806.270596,45579.0,186.831668,19.576533,11.255613,1.0,12
15,145887,Male,Married-civ-spouse,52,6,Machine-op-inspct,8.746021,3.767436,8.074738,m,q,n,85,44596.770239,1.0,190.701382,19.560518,10.281264,0.0,13
16,139565,Male,Married-civ-spouse,54,7,Machine-op-inspct,9.190951,3.678187,8.267784,m,q,o,85,58591.666990,55642.0,103.571723,19.420061,12.627478,1.0,7
17,340730,Male,Married-civ-spouse,51,12,Machine-op-inspct,4.524890,2.290223,7.078758,j,o,x,85,275697.976706,0.0,107.640581,19.272815,10.269647,0.0,9
18,121345,Male,Married-civ-spouse,54,6,Handlers-cleaners,4.826329,7.944851,6.396445,u,o,k,85,111398.671028,0.0,137.123849,19.403739,10.330012,0.0,9
19,236076,Male,Married-civ-spouse,53,6,Machine-op-inspct,8.879205,3.784641,7.664548,m,q,q,85,238850.251993,0.0,109.245956,19.121278,10.639503,0.0,7